.title{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 212px;
font-family: var(--font4);
text-transform: uppercase;
color: #252525;
font-weight: 400;

    &__bold{
        display: block;
        font-family: var(--font4);
        font-weight: 700;
        font-size: 100px;
        text-transform: uppercase;
        text-align: center;
        color: #252525;
    }
    &__regular{
        display: block;
        font-weight: 300;
        font-size: 80px;
        text-transform: capitalize;
      }
      &__photo{
        
        font-weight: 300;
        font-size: 212px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: center;
        color: #252525;
      }
      &__subtitle{
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 32px;
        line-height: 100%;
        text-transform: uppercase;
        text-align: right;
        color: #fff;
      }
      &__subtitle--black{
        font-family: var(--third-family);
        font-weight: 600;
        font-size: 32px;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: left;
        color: #333;
        
      }
      &__name{
        font-family: var(--second-family);
        font-weight: 800;
        font-size: 30px;
        text-transform: uppercase;
        color: #333;
        text-decoration: none;
      }
}
.text{

        font-family: var(--second-family);
        font-weight: 300;
        font-size: 62px;
        color: #252525;
    
        &--black{
            font-weight: 800;
    
        }
    
        &__subtitle{
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 32px;
        line-height: 100%;
        text-transform: uppercase;
        text-align: left;
        color: #333;
      }
      &__item{
        display: inline-block;
        border-radius: 50px;
        margin: 30px 30px 30px 0;
        padding: 15px 30px;
        background-color: #fff;
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 18px;
        color: #252525;
      }
    
}

.image{
    display: block;
    width: 100%;
}
.line{
    display: block;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    height: 40px;

    
    
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 0 30px;
}
.box{
    display: block;
    flex-direction: column;
    background: #252525;
    color: #fff;
    text-align: right;
    width: 485px;
    height: 232px;
    // padding:0  30px;

}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    border-bottom: 1px solid #252525;
    border-top: 1px solid #252525;
    padding: 70px;

}
.item{
    display: block;
    border-radius: 50px;
    background-color: #fff;
    padding: 15px 40px;
    
}

