
html,
body{
    max-width: 1920px;
    min-height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 1920px;
    background-color:  #f5f3ea;
    box-sizing: border-box;

}
main{
    flex-grow: 1;
}
.footer{
    display: block;
}