.header{


    &__wrapp{
        display: flex;
        padding: 20px 0;
        justify-content: space-around;
        align-items: center;
    }
&__logo{
    display: inline-block;
    align-items: center;
    vertical-align: middle;

    
}
&__text-logo{
    font-family: var(--second-family);
font-weight: 800;
font-size: 35px;
letter-spacing: -0.02em;
text-align: center;
color: #000;
}
&__menu{
    display: block;
    border-radius: 50px;
// padding: 20px 70px;
width: 67px;
height: 71px;
font-family: var(--font4);
font-weight: 400;
font-size: 25px;
text-align: center;
color: #252525;
}
}