.conteiner{
    display:flex;
    flex-direction: column;
    // justify-content: space-evenly;
    // flex-wrap: wrap;
    border-top: 1px solid #252525;
    padding: 70px;
    box-sizing: border-box;


}

.team{
  
   
    
&__inner{
    display: grid;
    grid-gap:30px 40px ;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr 1fr ;
    width: 100%;
}
&__link{
   
    overflow: hidden;
    width: 100%;
    max-height: 693px ;
    height: 100%;

}

&__img{
    width: 100%;
    height: 507px;
    filter: grayscale(1);
    padding-top: 15px;
    object-fit: cover; 

    
    

}

    &__card:last-child{
        display: grid;
        // height: 693px;
        justify-items: start;
        align-content: center;
        text-align: left;
        grid-column: span 2;
    }
    &__join{
        display: block;
        font-family: var(--font5);
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;
        color: #333;
    }
    &__title{
        display: block;
        font-family: var(--font3);
font-weight: 400;
font-size: 64px;
text-transform: uppercase;
color: #333;
padding: 15px 0;
    }

    &__list{
        list-style-type: none;
        margin: 0;
        padding: 0;

        
    }
    &__name{
        text-decoration: none;
        font-family: var(--second-family);
        font-weight: 800;
        font-size: 30px;
        text-transform: uppercase;
        color: #333;
    }
    &__job{
        text-decoration: none;
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 20px;
        color: #333;
    }
 
    &__icon{
        display: block;
        text-align: end;
        padding-top: 15px;
    }
    
}