.wrapps{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.photo{
    // display: block;
    // justify-content: center;
    // align-items: center;

    &__inner{

    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto auto ;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    
    
  } 

    &__items{
        display: block;
        object-fit: cover;
        max-width: 567px;
        width: 100%;
        height: 100%;
      
    }
    &__list{
        display: block;
        list-style-type: none;
        justify-content: center;
        align-content: center;
        // width: 567px;
        

       
    }
   
    &__title{
        font-family: var(--font3);
        font-weight: 400;
        font-size: 40px;
        // line-height: 1.1;
        text-transform: uppercase;
        color: #000;

   }
 
   &__btn{
    display: block;
   justify-content: center;
    text-align: center;
    border: none;
    border-radius: 50px;
    margin: 0 auto;
padding: 15px 0;
font-family: var(--third-family);
font-weight: 400;
font-size: 18px;
color: #252525;
width: 187px;
// height: 52px;
background-color: #fff;
   }
}
    
.link__btm{
        display:grid;
        border-radius: 50px;
        padding: 15px 30px;
        width: 162px;
        justify-self: end;
        background: #252525;
        text-decoration: none;
        text-align:center;
        font-family: var(--third-family);
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
}



