// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss
@import "./block/header.scss";
@import "./block/global.scss";
@import "./block/content.scss";
@import "./block/footer.scss";
@import "./block/our_team.scss";
@import "./block/reset.scss";
@import "./block/photo.scss";



@media (max-width: 1920px){

}

@media (max-width: 1220px){

    .about{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 30px 0px;
    }
    .text{
        font-size: 52px;
        text-align: center;
    }
    .box{
        width: 100%;
        margin: 0;
    }
    .icon{
        
        width: 100%;
    }
    .list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px ;
        border: none;
    }
    .conteiner{
        padding: 30px;
        
    }
        .photo__inner{

        display: grid;
        row-gap: 40px;
        grid-template-columns: auto;
        grid-template-rows: repeat(6, 1fr);
        width: 100%;
        
        
      } 
      .photo__list:first-child{
      grid-row: 3;
      height:auto;
      }
      .photo__items{
        width: 100%;
        height: 100%;
      
    }
    .photo__list{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

       
    }
    .team__inner{
        display: grid;
        grid-gap:30px 40px ;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(4, 1fr) ;
        width: 100%;
    }
}

@media (max-width: 768px){

.header__text-logo{
    display: none;
}
.title{
    display: block;
    font-size: 50px;
}
    .title__bold{
        font-size: 57px;
        text-align: center;
    }
    .title__regular{
     font-size: 57px;
     text-align: center;
    }

    .conteiner{
        padding: 30px;
        border: none;
    }
        .photo__inner{

        display: grid;
        row-gap: 40px;
        grid-template-columns: auto;
        grid-template-rows: repeat(6, 1fr);
        width: 100%;
        
        
      } 
      .photo__list:first-child{
      grid-row: 3;
      }
      .photo__items{
        width: 100%;
        height: 100%;
      
    }
    .photo__list{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

       
    }
    .about{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 30px 0px;
    }
    .text{
        font-size: 30px;
    }
    .box{
        width: 100%;
        margin: 0;
    }
    .icon{
        width: 100%;
    }
    .list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px ;
        border: none;
    }

    .team__inner{
        display: flex;
        overflow: hidden;
        flex-direction: column;
       gap: 30px;
       
       
            
    }
    
}

@media (max-width: 320px){

    body{
        margin: 0;
        padding: 0;
        font-size: 80px;
    }
   
    .header__text-logo{
        display: none;
    }
    .about{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 30px 0px;
        font-size: 32px; 
    }
    .text{
        font-size: 30px;
    }
    .box{
        width: 100%;
    }
    .icon{
        width: 100%;
    }
    .list{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .photo__inner{
        display: grid;
        row-gap: 40px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        width: 100%;
      
    
        
        
      } 
      .photo__list:first-child{
      grid-row: 3;
      justify-content: center;
      align-items: center;
      width: 100%;
     
    
    }
    .photo__btn{
       margin: 0 auto;
        width: 100%;
    }

   
        .team__inner{
            display: flex;
            flex-direction: column;
           gap: 30px;
            width: 100%;
           
            
        }
      
    }








